<div class="relative w-full py-12 px-12">
	<div>
		<%= image_tag "logo_de_natas.jpg", class: "w-full h-full absolute inset-0 object-cover opacity-75" %>
	</div>
</div>

<div class="w-full bg-zinc-50 p-12 flex justify-center items-center">
	<div class="max-w-md">
		<div class="w-24 h-2 bg-blue-800 mb-4 mx-auto"></div>
		<div class="bg-zinc-50 px-12">
			<p> Text about me </p>
		</div>
	</div>
</div>

<div class="w-full flex flex-col justify-center items-center">
	<div class="text-center p-8">
		<p> The work I have done</p>
	</div>
	<div class="p-8">
		<p> Another section of content </p>
	</div>
</div>
